DEFAULT_TIMEZONE=UTC
DISPLAY_ERRORS_ENABLED=true
MYSQL_HOST=database
MYSQL_PORT=3306
MYSQL_DATABASE=app_database
MYSQL_USERNAME=app_user
MYSQL_PASSWORD=app_password
MAIL_SEND_ENABLED=true
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_HOST=mailcatcher
MAIL_PORT=1025