DEFAULT_TIMEZONE=UTC
DISPLAY_ERRORS_ENABLED=true
MYSQL_HOST=database
MYSQL_PORT=3306
MYSQL_DATABASE=app_database
MYSQL_USERNAME=app_user
MYSQL_PASSWORD=app_password
MAIL_SEND_ENABLED=true
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_HOST=mailcatcher
MAIL_PORT=1025
OIDC_ISSUER=https://idp.login.iu.edu
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_REDIRECT_URI=https://your-app.webapps.iu.edu/signin-oidc
LDAP_USER=
LDAP_PASSWORD=
LDAP_HOST=ldaps://ads.iu.edu
LDAP_PORT=636
LDAP_BASE_DN=OU=Accounts,DC=ads,DC=iu,DC=edu
